<div class="col-md-6">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [ngClass]="displayNameError()" formControlName="name" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" formControlName="age" placeholder="Age">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>